* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

button,
input,
select,
textarea {
  font: inherit;
}

.folder__container {
  margin-left: 1rem;
  width: 300px;
  margin-left: 1.5rem;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  margin-top: 0.5rem;
}

.buttons {
  display: flex;
  gap: 1rem;
}

.buttons button {
  font-size: 1rem;
  padding: 2px 20px;
  font-size: 12px;
}
